In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

from data_read import load_data_into_dataframe

#enable IPython to display matplolib graphs
%matplotlib inline

In [2]:
h_df = load_data_into_dataframe("halfhourly")
hhi_df = pd.read_csv("../data/informations_households.csv")

/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)
/home/daniel/Bachelor/Bachelor_thesis/data_read.py:39: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(file) for file in dataset_files_csv), ignore_index=True)

In [3]:
hhi_df

          LCLid stdorToU    Acorn Acorn_grouped       file
0     MAC005492      ToU   ACORN-        ACORN-    block_0
1     MAC001074      ToU   ACORN-        ACORN-    block_0
2     MAC000002      Std  ACORN-A      Affluent    block_0
3     MAC003613      Std  ACORN-A      Affluent    block_0
4     MAC003597      Std  ACORN-A      Affluent    block_0
...         ...      ...      ...           ...        ...
5561  MAC002056      Std  ACORN-U       ACORN-U  block_111
5562  MAC004587      Std  ACORN-U       ACORN-U  block_111
5563  MAC004828      Std  ACORN-U       ACORN-U  block_111
5564  MAC001704      ToU  ACORN-U       ACORN-U  block_111
5565  MAC002774      ToU  ACORN-U       ACORN-U  block_111

[5566 rows x 5 columns]

In [4]:
acorn_e_filter = hhi_df["Acorn"] == "ACORN-E"
acorn_e_hh = hhi_df[acorn_e_filter]
acorn_e_hh

          LCLid stdorToU    Acorn Acorn_grouped      file
627   MAC002543      Std  ACORN-E      Affluent  block_12
628   MAC002556      Std  ACORN-E      Affluent  block_12
629   MAC002660      Std  ACORN-E      Affluent  block_12
630   MAC005399      Std  ACORN-E      Affluent  block_12
631   MAC002545      Std  ACORN-E      Affluent  block_12
...         ...      ...      ...           ...       ...
2189  MAC001853      ToU  ACORN-E      Affluent  block_43
2190  MAC001914      Std  ACORN-E      Affluent  block_43
2191  MAC001182      ToU  ACORN-E      Affluent  block_43
2192  MAC000631      Std  ACORN-E      Affluent  block_43
2193  MAC002093      ToU  ACORN-E      Affluent  block_43

[1567 rows x 5 columns]

In [5]:
house_datacount = h_df["LCLid"].value_counts()

In [15]:
f = h_df["LCLid"].isin(acorn_e_hh["LCLid"])
f

0            False
1            False
2            False
3            False
4            False
             ...
167817016     True
167817017     True
167817018     True
167817019     True
167817020     True
Name: LCLid, Length: 167817021, dtype: bool

ERROR! Session/line number was not unique in database. History logging moved to new session 331

In [19]:
house_datacount = h_df[f]
house_datacount = house_datacount["LCLid"].value_counts()

In [22]:
house_datacount.head(10)

MAC000150    39720
MAC000152    39719
MAC000153    39714
MAC000165    39671
MAC000169    39667
MAC000168    39648
MAC000159    39646
MAC000173    39619
MAC000179    39580
MAC000181    39578
Name: LCLid, dtype: int64

In [9]:
hhi_df = hhi_df.set_index("LCLid")

In [21]:
hhi_df.loc["MAC000150"]

stdorToU              Std
Acorn             ACORN-E
Acorn_grouped    Affluent
file             block_21
Name: MAC000150, dtype: object